<br/>
<div class="row">
  <div class="col-lg-8">
    <h3>Contact Us </h3>

		  <div>
           <p class="style1" style="font-size:16px" align="center"> <strong>Address for Communication</strong></p>
		    <table border="0" cellpadding="2" cellspacing="3">
              <tbody>
                <tr>
                  <td width="50%"><strong>Principal’s Office : </strong><br />
                    Principal, Shri Shivajirao Deshmukh B.Ed. College<br />

                    Tal: Shirala<br />
                    Dist : Sangli (Maharashtra)<br />
                    </td>

                </tr>
              </tbody>
            </table>
		    <p><strong>Phone, Email and Web:</strong> </p>
		    <p><strong>Email :</strong><a href="mailto:principal.ssdeducation@gmail.com"> principal.ssdeducation@gmail.com</a></p>
		    <p><strong>Website :</strong><a href="http://www.ninaideviedu.com"> www.ninaideviedu.org</a></p>
		    <p><strong>Phone :</strong>02345-285556 / 57</p>
			<p><strong>Mob :</strong>8605011003 / 13, 7588627476 </p>
		    <p><strong>Fax :</strong>02345-272211</p>
		    <p><strong>Feedback</strong></p>
		    <p> </p>
		    <div id="wpcf7-f135-p28-o1">
		      <form action="/contact-us#wpcf7-f135-p28-o1" method="post">
                <p>Your Name (required)<br />
                    <input name="your-name" value="" size="40" type="text" />
                </p>
		        <p>Your Email (required)<br />
                    <input name="your-email" value="" size="40" type="text" />
                </p>
		        <p>Subject<br />
                    <input name="your-subject" value="" size="40" type="text" />
                </p>
		        <p>Your Message<br />
                    <textarea name="your-message" cols="40" rows="10"></textarea>
                </p>

	            <label>
	           <p><input type="submit" value="Send" class="#" /></p>
	            </label>
		      </form>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Latest News</h4></div>
      <div class="panel-body">
        <marquee behavior="scroll" direction="up" bgcolor="#CCCCCC">
          <ul class="news">
            <li><img src="/template2/assets/images/scroll-image-1.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-2.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-3.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-4.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-5.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
          </ul>
          </marquee>

      </div>
    </div>
</div>
</div>