<br/>
<div class="row">
  <div class="col-lg-8">
    <h3>About Us </h3>
    <p class="style1" style="font-size:16px"> Vision &amp; Mission </p>
        <p><strong>“To produce teachers with a high purpose and intense pragmatism who  will be the change agents in future.”</strong><br />
The specific vision and the mission enhance the long-range perspective of  the College, particularly in relation to the cause of teacher education. This  lends itself to the enunciation of specific goals to be achieved. The vision  and the mission statements of the College focus on the two aspects, viz. the  holistic approach, and the cardinal principle of equality.</p>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Latest News</h4></div>
      <div class="panel-body">
        <marquee behavior="scroll" direction="up" bgcolor="#CCCCCC">
          <ul class="news">
            <li><img src="/template2/assets/images/scroll-image-1.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-2.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-3.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-4.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-5.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
          </ul>
          </marquee>

      </div>
    </div>
</div>
</div>