<div class="row">
  <div class="col-lg-8">

<h3>Admission </h3>
<p class="style1" style="font-size:16px"> Admission Process </p>
    <p><strong>Duration of Course  One Year Full time </strong>&nbsp; <br />
      <strong>Eligibity to take admission to B.Ed. Course </strong></p>
    <ul type="disc">
      <li>Graduates from any Recognized University, Agricultural       University, Open University, and Deemed University in; Arts, Science, Commerce,       Home Science, Agriculture Science are eligible to appear for C.E.T.</li>
      <li>Along with the graduates, the candidates appearing for       degree examinations of March/April&nbsp; from any Recognized University ,       Agricultural University , Open University, and Deemed University in; Arts,       Science, Commerce, Home Science, Agriculture Science are eligible to       appear for C.E.T.</li>
      <li>Candidates belonging to open and Reserve category must       secure at least 18 and 15 marks in C.E.T.</li>
      <li>The candidates, willing to get admission in English       Medium colleges of Education, must appear for English Language Test along       with CET. It is obligatory for the candidates to secure minimum 25 marks       out of 50 marks to be eligible for the admission in the same.</li>
      <li>Candidates having equivalent Degrees of other universities       are not eligible for B.Ed. Admission. E.g. Sanskrit  Shastri Degree, Hindi  Sahitya Sudhakar etc.</li>
      <li>For applicants of Open category, Other Backward Class       (OBC), and Special Backward Class (SBC) category minimum 50% in degree       examination. For applicants of Scheduled Caste category minimum 45% in       degree examination. If any University has semester pattern then average       percentage of marks for both the semesters should be considered.</li>
      <li><strong>(Note-Attendance for the course is compulsory.Working       candidates should not apply)</strong> </li>
    </ul>
   <br/>
    <p>For the applicants that have served  as a full time teacher for minimum two&nbsp; years, the above mentioned minimum  percentage limit is not applicable. &nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; They only need to pass the qualifying  examination.<br />
      B.Ed. Admission 2013  List of Required Documents</p>
     <p class="style1" style="font-size:16px"><strong>B.ED. ADMISSION 2013 LIST OF REQUIRED DOCUMENTS&nbsp;</strong></p>
        <strong>Name  of Candidate:</strong>
    <ul>
      <li>Attested  true copy of Statement of Marks / Passing Certificate of the Graduate Degree.</li>
      <li>In  case of Change in name after marriage - Attested true copy of Marriage Certificate  / Government Gazette.</li>
    </ul>
    <p><br />
        <strong> Category:</strong></p>
    <ul>
      <li>Attested  true copy of Caste Certificate / Non - Creamy Layer / Validity Certificate in  your name issued by Competent Authority, clearly mentioning the Category of the  Candidate and also the remarks that the Caste is under Backward Class in the  State of Maharashtra. (Non-Creamy Layer should be after April-2012 )</li>
    </ul>
    <p><br />
        <strong>Special Category:</strong></p>
    <p>If  Physically Handicapped - Attested true copy of minimum 40% Physical Disability  Certificate and eligible to complete the B.Ed.course issued by Competent  Authority / District Civil Surgeon.</p>
    <ul><li>If  Kashmir Migrant - Attested true copy of the Certificate clearly mentioning  &quot;Displaced Jammu and Kashmir Candidate staying in refugee camp&quot; from  head of the officer of Migrant/Refugee camp.</li>
      <li>If  Ward or Spouse of Ex-Serviceman or Active-Serviceman - Attested true copy of  valid Certificate issued by Competent Authority.</li>
    </ul>

  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Latest News</h4></div>
      <div class="panel-body">
        <marquee behavior="scroll" direction="up" bgcolor="#CCCCCC">
          <ul class="news">
            <li><img src="/template2/assets/images/scroll-image-1.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-2.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-3.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-4.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            <li><img src="/template2/assets/images/scroll-image-5.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
          </ul>
          </marquee>

      </div>
    </div>
</div>
</div>