<!--Row with two equal columns-->
<br/>
<div class="row">
  <div class="col-lg-8">
    <h3>Welcome </h3>
          <p><strong>Shri. Shivajirao Deshmukh Shikshanshtra (B.ed &amp; M.ed)  Mahavidhyalaya , Red-Shirala</strong> was established by the Ninaidevi Shikshan prasarak  mandal's Kokarud. in <strong>1998</strong>  to promote  Educational  and Teaching education. The  healthy and peaceful environment of this college provides myriad opportunities  to young boys and girls to face the challenges of the 21st century.</p>
<p>It is one of the reputed college from Shirala city of Sangali  District. Our college provides Educational courses such as B.ed and M.ed<br /></p>
<p>Infrastructure and campus of college is good.</p>
<p>Shri. Shivajirao Deshmukh Shikshanshtra (B.ed &amp; M.ed)  Mahavidhyalaya , Red-Shirala is leading in the state . It is situated 4 KM's  from shirala and is about 15 KM's From Islampur. </p>
<p>The specific vision and the <strong>mission</strong> enhance the  long-range <strong>perspective</strong> of the College,  particularly in relation to the cause of teacher education. This lends itself  to the enunciation of specific goals to be achieved. The vision and the mission  statements of the College focus on the two aspects, viz. the holistic approach,  and the cardinal principle of equality</p>

  </div>
  <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Latest News</h4></div>
        <div class="panel-body">
          <marquee behavior="scroll" direction="up" bgcolor="#CCCCCC">
            <ul class="news">
              <li><img src="/template2/assets/images/scroll-image-1.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
              <li><img src="/template2/assets/images/scroll-image-2.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
              <li><img src="/template2/assets/images/scroll-image-3.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
              <li><img src="/template2/assets/images/scroll-image-4.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
              <li><img src="/template2/assets/images/scroll-image-5.jpg" width="250" height="150" alt="Arrow pointing up" /></li>
            </ul>
            </marquee>

        </div>
      </div>



</div>